<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="ssl,freecert,cert,certificate,freessl">
    <meta name="description" content="Let's SSL is a free certificate automation service using let's encrypt.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Let's SSL</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<style>
    body{
        margin: 0;
    }
</style>
