<template>
  <div class="password-container">
    <div>
      <el-form :model="param" ref="resetPassword" label-width="0px" class="ms-content" :rules="rules">
        <el-form-item prop="email">
          <el-input v-model="param.email" placeholder="Email">
            <el-button slot="prepend" icon="el-icon-user"></el-button>
            <el-button slot="append" style="padding: 12px 10px;font-size: 10px"
                       @click="sendPasswordResetEmail">Send Code
            </el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="code">
          <el-input v-model="param.code" placeholder="Email code">
            <el-button slot="prepend" icon="el-icon-warning-outline"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" placeholder="Password" v-model="param.password">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password2">
          <el-input type="password" placeholder="Repeat the password" v-model="param.password2"
                    @keyup.enter.native="resetPassword">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <div class="password-btn">
          <el-button type="primary" @click="resetPassword()">Reset Password</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import service from "@/util/request";

const api = require("@/util/api")
const StringUtils = require("@/util/StringUtils")
export default {
  name: "ResetPassword",
  data() {
    const checkEmail = (rule, value, callback) => {
      const mailReg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
      if (StringUtils.isBlank(value)) {
        callback(new Error('Email is required'))
      } else {
        if (mailReg.test(value)) {
          callback()
        } else {
          callback(new Error('Please enter your vaild email'))
        }
      }
    };
    const checkPassword = (rule, value, callback) => {
      if (StringUtils.isBlank(value)) {
        callback(new Error('Password is required'))
      } else {
        if (this.isLogin) {
          callback()
        } else {
          if (this.param.password2 !== value && StringUtils.isNotBlank(this.param.password2)) {
            callback(new Error('Two passwords are different'))
          } else {
            callback()
          }
        }
      }
    };
    const checkPassword2 = (rule, value, callback) => {
      if (!this.isLogin) {
        if (StringUtils.isBlank(value)) {
          callback(new Error('Please repeat the password'))
        } else {
          if (this.param.password !== value) {
            callback(new Error('Two passwords are different'))
          } else {
            callback()
          }
        }
      } else {
        callback()
      }
    };
    const checkCode = (rule, value, callback) => {
      if (!this.isLogin) {
        if (StringUtils.isBlank(value)) {
          callback(new Error('Please enter the email code'))
        } else {
          callback()
        }
      } else {
        callback()
      }
    };
    return {
      param: {
        email: '',
        password: '',
        password2: '',
        code: ''
      },
      isLogin: true,
      rules: {
        email: [{validator: checkEmail, trigger: 'change'}],
        password: [{validator: checkPassword, trigger: ['change', 'blur']}],
        password2: [{validator: checkPassword2, trigger: ['change', 'blur']}],
        code: [{validator: checkCode, trigger: 'change'}]
      }
    };
  },
  methods: {
    sendPasswordResetEmail() {
      service.post(api.passwordResetEmail, {
        email: this.param.email
      }).then(() => {
        this.$message.success('Send Email Successful');
      })
    },
    resetPassword() {
        this.$refs['resetPassword'].validate((valid) => {
          if (valid) {
            service.put(api.passwordReset, {
              email: this.param.email,
              password: this.param.password,
              code: this.param.code
            }).then(() => {
              this.$message.success('Reset Password Successful');
              this.$router.push('/login')
            })
          }
        });
    },
    change() {
      this.isLogin = !this.isLogin
    },
    goResetPassword() {
      this.$router.push("/resetPassword")
    },
  }
}
</script>

<style lang="scss">
.reset {
  text-align: center;
  font-size: 15px;
  padding: 20px 0;
  border: 1px solid #abaeb4;
  border-radius: 4px;

  a {
    color: #409EFF;
    cursor: pointer;
    padding-left: 10px;
  }
}

</style>

<style scoped>
.ms-content {
  padding: 30px 30px;
}

.password-btn {
  text-align: center;
}

.password-btn button {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}

.password-container {
  margin: 0 auto;
  width: 400px;
}

.forgot-password {
  color: #409EFF;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: right;
  font-size: 13px;
}

@media screen and (max-width: 769px) {
  .password-container {
    width: 100%;
  }
}

</style>