<template>
  <div id="app">
    <Header msg="This is Header"/>
    <router-view/>
    <Footer msg="This is Footer"/>
  </div>
</template>

<script>

import Header from './views/Header.vue'
import Footer from "@/views/Footer";

export default {
  name: 'App',
  components: {
    Footer,
    Header
  },
}
</script>

<style>
#app {
  font-family: open sans, Helvetica, Arial, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
